body{
    padding: 0;
    margin: 0;
}
#maincontent,
#main{
    display: flex;
}
#groupB{
    display: flex;
    background-image: url("../Sign-Up-Form-Odin/images/wrc-legendario-walter-rohrl.avif");
    background-position: center;
    flex-basis: 50%;
    height: 100vh;
}
#maincontent{
    flex-basis: 100%;
    background-color: #d3d4ae;
    flex-direction: column;
    padding-left: 30px;
    justify-content: space-around;
    align-items: flex-start;
}